.product-details-container {
  padding: 0 30px 30px;
  background-color: #f9f9f9;

  .product-image {
    margin-bottom: 30px;
  }

  .btn-secondary {
    margin: 10px 0;
  }

  .product-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .product-origin,
  .product-variety,
  .product-notes,
  .product-intensifier {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .product-button {
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    .product-details-container {
      padding: 20px;
    }

    .product-image {
      margin-bottom: 20px;
    }

    .product-title {
      font-size: 24px;
      margin-bottom: 15px;
    }

    .product-origin,
    .product-variety,
    .product-notes,
    .product-intensifier {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
}
