@import '../../../styles/variables';

.pagination {
  margin: 0.5rem 0 0;

  ul {
    margin: 0 auto;

    .page-item {
      display: inline-block;
      margin: 0 0.25rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.disabled .page-link {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &.active .page-link {
        z-index: 1;
        color: $cf-white;
        background-color: $cf-primary;
        border-color: $cf-primary;
      }

      .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: $cf-primary;
        background-color: $cf-white;
        border: 1px solid $cf-light-1;

        &:hover, &:focus {
          color: $cf-primary;
          background-color: $cf-light-1;
          border-color: $cf-light-1;
        }

        &:focus {
          z-index: 2;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
        }
      }
    }
  }

  @media (max-width: 576px) {
    ul {
      flex-wrap: wrap;

      .page-item {
        flex: 0 0 100%;
        margin-bottom: 0.5rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
