@import '../../styles/variables';

.container {
  font-family: 'Open Sans', sans-serif;
  color: $cf-text;
  background-color: $cf-white;

  h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  .row {
    .col-md-12, .col-lg-8 {
      margin: 0 auto;
    }
  }
}

.sticky-footer {
  p {
    margin: 0;
    padding: 0 0 0.2rem;
    font-size: 0.8rem;
    color: $cf-text;
  }
}

